<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GLSLx64.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GLSLx64.Properties.Settings>
            <setting name="CompileDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LiveCompilation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompilerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtraArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="UserKeyWords1" serializeAs="String">
                <value />
            </setting>
            <setting name="UserKeyWords2" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoDetectedExt" serializeAs="String">
                <value />
            </setting>
            <setting name="VertExt" serializeAs="String">
                <value />
            </setting>
            <setting name="GeomExt" serializeAs="String">
                <value />
            </setting>
            <setting name="FragExt" serializeAs="String">
                <value />
            </setting>
            <setting name="MeshExt" serializeAs="String">
                <value />
            </setting>
            <setting name="CompExt" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskExt" serializeAs="String">
                <value />
            </setting>
            <setting name="RayAnyHitExt" serializeAs="String">
                <value />
            </setting>
            <setting name="RayCallableExt" serializeAs="String">
                <value />
            </setting>
            <setting name="RayClosestExt" serializeAs="String">
                <value />
            </setting>
            <setting name="RayGenExt" serializeAs="String">
                <value />
            </setting>
            <setting name="RayIntersectExt" serializeAs="String">
                <value />
            </setting>
            <setting name="RayMissExt" serializeAs="String">
                <value />
            </setting>
            <setting name="TessControlExt" serializeAs="String">
                <value />
            </setting>
            <setting name="TessEvalExt" serializeAs="String">
                <value />
            </setting>
        </GLSLx64.Properties.Settings>
    </userSettings>
</configuration>